:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
}

h2 {
    color: white;
    font-size: 30px;
}
* {
    box-sizing: border-box;
    margin: 2px ;
    font-family: 'Fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    color: purple;
    font-size: 25px;
}

.title {
    color: purple;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    height: 125px;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--light);
    margin-bottom: 1rem;
}

main h2 {
    text-align: center;

}

#new-task-form {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#taskinput {
    flex: 1 1 0;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;

}

#taskinput::placeholder{
    color: var(--gray);
    display: flex;

}

#title {
    flex: 1 1 0;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;

}

#title::placeholder{
    color: var(--gray);
    display: flex;

}

#priority {
    flex: 1 1 0;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    color: var(--light);
    font-size: 1.25rem;
    width: 200px;

}


#new-task-submit{
    color: var(--light);
    font-size: 1rem;
    font-weight: 700;
    background: green;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main {
    flex: 1 1 0;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.taskl-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color:var(--gray);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content {
    flex: 1 1 0;
}

#tasks .task .content .text {
    color: var(--light);
    font-size: 1rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover{
    opacity: 0.8;
}

.task .actions button:active{
    opacity: 0.6;
}

.task .actions .mark_complete {
    background-color: green;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: crimson;
}