body{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}
nav.menu{
    margin-top: -10px;
    margin-left: -10px;

    width: 102%;
    overflow:auto;
    background:black;
}

ul.menu{
    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
}


li.menu{
    float: left;
}


li a.menu {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: white;
    text-align: center;
}

li a.menu:hover:not(#active) {
    background: #0864a5;
}

#active {
    background-color: #0864a5;
}

.logo img{
    position:absolute;
    margin-top: 5px;
    margin-left: 10px;
    height: 75px;
    width: 200px;
}

li{
    color:white;
}


p{
    color:white;
}



table, th, td {
    border: 1px solid;
    color:white;
}

img.interest {
    opacity: 0.5;
}

img.interest:hover {
    opacity: 1.0;
}

@media print {
    .screen_only {
        display:none;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rounded{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}