
<!DOCTYPE html>
<html>
<head>
  <title>Responsive Login Form Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../logintest/style.css">
</head>
<body>

<div class="wrapper">
  <div class="welcome">
    <h3>Welcome, Please Sign In!</h3>
  </div>
  <form class="form" method="post" action="#">
    <div class="signin active">

      <div class="form-group">
        <input id="UserName" type="text" placeholder="User" required="">
      </div>
      <div class="form-group">
        <input id="UserPassword" type="password" placeholder="Password" required="">
      </div>

      <button type="submit" id="loginbtn" class="btn">LOGIN</button>
      <br>
      <div class="account-exist">
        Create New a account? <a href="../logintest/register.html" id="signup">Signup</a>
      </div>
    </div>
  </form>
</div>

<script src="../logintest/main.js"></script>
</body>
</html>

